<link rel="stylesheet" href="{{ 'footer-minicart.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'footer-minicart.css' | asset_url | stylesheet_tag }}</noscript>

<div class="cart-footer">

</div>