.product_container{
    width:300px;
    height:500px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.button_productgrid{
    background-color: red;
    border: none;
    width: 90%;
    height: 30px;
    color: white;
}